@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<header class='masthead'>
    <p class='masthead-intro'>Hi I'm</p>
    <h1 class='masthead-heading'>Cyril!</h1>
</header>
<section class="questions-section">
    <h1>I'm Cyril Angelo A. Filomeno.</h1>
    <h2>Things about me:</h2>
    <p>I am born on October 8, 2002 in the city of Casablanca in Morocco.</p>
    <p>My hobbies include basketball, swimming, watching and playing video games and socializing.</p>
    <h2>Past Organizations and Positions:</h2>
    <p>Publicity Head for SITE: Society of Information and Computing Sciences</p>
    <p>Publicity Head for TGS: Thomasian Gaming Society</p>
    <p>Project Head for IDEA: Improving Design and Enhancing Abilities</p>
    <h2>Contact Me:</h2>
    <p>Phone Number: 09566358715</p>
    <p>Email: cyrilangelo.filomeno.cics@ust.edu.ph</p>
    <h2>UST Course:</h2>
    <p>Bachelor of Science in Information Technology</p>
</section>

<footer class="content-footer">
    <p>My Social Media Networks Below:</p>
    <ul class="social">
        <li><a class="css-is-deranged" href="https://github.com/jeehy0">GitHub</a></li>
        <li><a class="css-is-deranged" href="https://www.instagram.com/geloflmno/">Instagram</a></li>
        <li><a class="css-is-deranged" href="https://www.facebook.com/geloflmno">Facebook</a></li>
    </ul>

</footer>
</html>
