@model Instructor;

<p>Are you sure you want to delete this?</p>

<form asp-action="DeleteInstructor" method="post">
    <div class="form-group">
        <label asp-for="Id">ID</label>
        <input asp-for="Id" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Rank">Rank</label>
        <input asp-for="Rank" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="IsTenured">Status</label>
        <select asp-for="IsTenured" class="form-control" readonly>
            <option value="true">Permanent</option>
            <option value="false">Probationary</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="HiringDate">HiringDate</label>
        <input asp-for="HiringDate" class="form-control" readonly/>
    </div>

    <br />

    <p>Are you sure you want to delete?</p>
    <button type="submit" class="btn btn-danger">Yes</button>
    <button type="submit" class="btn btn-primary">No</button>
</form>

